@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;800&display=swap');

*{
    margin: 0;
    padding: 0;
}
nav{
    width: 100%;
    height: auto;
}
a{
    text-decoration: none;
}
.container{
    width: 1140px;
    margin: auto;
}
nav .container::after{
    content: "";
    display: block;
    clear: both;

}
.inner-content{
    width: 100%;
    padding: 20px 0;
    float: left;
}
.brand{
    width: 30%;
    float: left;
}
.navigation{
    width: 70%;
    float: right;
}
.navigation ul{
    text-align: right;
 }
.navigation ul li{
    list-style: none;
    display: inline-block;
}
.navigation ul li a{
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 38px;
    color: #3b506c;
    cursor: pointer;
}
.navigation ul li a:hover{
    color: #0C66FF;
}
main{
    width: 100%;
    padding: 80px 0;
}
.main-content{
    width: 50%;
    margin: auto;
    text-align: center;
}
.main-content h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    line-height: 80px;
    color: #3b506c;
}
.main-content h1 span{
    color: #0C66FF;
}
.main-content p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-top: 10px;
}
.main-content img{
    margin-top: 10px;
}

.more-text{
    font-family: 'Montserrat', sans-serif;

}
.more-text::after{
    content: "";
    display: block;
    clear: both;
}
.more-text .left{
    float: left;
    width: 50%;
    text-align: right;
}
.more-text .right{
    float: right;
    width: 50%;
    text-align: left;
    font-family: inherit;
    color: #0F2656;
}
.more-text .right h3{
    font-size: 40px;
    line-height: 60px;
    font-weight: 800;
}
.more-text .left h3{
    font-size: 40px;
    line-height: 60px;
    font-weight: 800;
    color: #f16787;

}
.more-text .left .inner-container p{
    line-height: 25px;
    font-size: 18px;
}
.inner-container{
    padding: 10px 30px;
}
.slides .container::after{
content: "";
display: block;
clear: both;
}
.item{
    width: 33%;
    float: left;
}
.item .inner-cont{
    margin: 20px;
    padding: 60px 30px;
}
.inner-cont .img-cont{
    text-align: center;
}
.img-cont img{
    width: 100%;
    height: 100%;
}
.it-one{
    background-color: #FDEBED;
}
.it-two{
    background-color: #EBF9F4;
}
.it-three{
    background-color: #FFF7E8;
}
.inner-cont h4{
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 36px;
    color: #3b506c;
    letter-spacing: 1px;
}
.inner-cont p{
    color: #3b506c;
    font-size: 16px;
    line-height: 26px;
}
.slides{
    padding: 60px 0;
}
.copyright{
    text-align: center;
    padding: 25px 200px;
    background-color: #008AFF;
}
.copyright p{
    display: inline-block;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
.copyright p span{
    letter-spacing: 3px;
    font-weight: 800;
}
